//Include style
include ./block_html/style.jade
body
	//Include header
	include ./block_html/header.jade
	include ./block_html/elements/const.jade
	style.
		.head-section{
			clip-path: url(#head_path);
		}
		.slider{
			clip-path: url(#places_path);
		}
		.compare-block-head{
			clip-path:url(#fly_path);
		}
	svg.clip(height='0', width='0')
		defs
			clippath#head_path(clippathunits='objectBoundingBox')
				path(d='M 0.5 1, 1 0.8, 1 0, 0 0, 0 0.8')
			clippath#head_path_mobile(clippathunits='objectBoundingBox')
				path(d='M 0.5 1, 1 0.92, 1 0, 0 0, 0 0.92')
			clippath#fly_path(clippathunits='objectBoundingBox')
				path(d='M 0.5 0, 1 0.4, 1 1, 0 1, 0 0.4')
			clippath#fly_path_mobile(clippathunits='objectBoundingBox')
				path(d='M 0.5 0, 1 0.14, 1 1, 0 1, 0 0.14')
			clippath#places_path(clippathunits='objectBoundingBox')
				path(d='M 0.5 0, 1 0.2, 1 0.8, 0.5 1, 0 0.8, 0 0.2')
			clippath#places_path_mobile(clippathunits='objectBoundingBox')
				path(d='M 0.5 0, 1 0.14, 1 0.86, 0.5 1, 0 0.86, 0 0.14')
			clippath#attractions_path(clippathunits='objectBoundingBox')
				path(d='M 0.5 0, 1 0.3, 1 1, 0 1, 0 0.3')
	section.head-section 
		.header
			.header-soc
				a(href="#")
					i.fa.fa-vk
				a(href="#")
					i.fa.fa-facebook
				a(href="#")
					i.fa.fa-twitter
				span Расскажите друзьям
			.header-logo
				- for (var a = 0; a <4 ; a++)
					.header-logo-el
						img(src="img/header-logo-#{a+1}.png", alt="") 
		.header-content
			.header-title ИЗРАИЛЬ
			.header-info Путешествие путешестви
			.header-icon-row
				.header-icon-el
					.header-icon-img
						img(src="img/header-img-1.png", alt="")
					.header-icon-text Отдыхать
				.header-icon-el
					.header-icon-img
						img(src="img/header-img-2.png", alt="")
					.header-icon-text Путешествовать
				.header-icon-el
					.header-icon-img
						img(src="img/header-img-3.png", alt="")
					.header-icon-text Развлекаться
			a(href="#").header-but Смотреть гид
	section.slider.owl-carousel
		.slider-el.slider-one
			.slider-cont 
				.slider-title Виза в израиль не нужна
				.slider-text Курорты израиля распологаются на берегах Средиземного, Красного и Мертвого морей. Путешествие в Израиль позволит побывать на каждом из них.
		.slider-el.slider-two
			.slider-cont 
				.slider-title Три моря по цене одного
				.slider-text Курорты израиля распологаются на берегах Средиземного, Красного и Мертвого морей. Путешествие в Израиль позволит побывать на каждом из них.
		.slider-el.slider-three
			.slider-cont 
				.slider-title Можно говорить по-русски
				.slider-text Курорты израиля распологаются на берегах Средиземного, Красного и Мертвого морей. Путешествие в Израиль позволит побывать на каждом из них
	
	section.compare-block
		.compare-block-head
			.compare-block-title Летим сейчас
			.compare-block-text Дешевые Авиабилеты в Израиль
			

	section.compare-block-content
			.compare-block-content-title Сравнение с другими странами
			.compare-block-content-text Это цены в не менее интересные места на планете
			.compare-block-content-wraper
				
				.compare-block-content-el.compare-block-content-el-active
					.compare-block-content-el-img
						img(src="img/img-compare-1.png", alt="")
					.compare-block-content-el-wraper
						.compare-block-content-el-title Израиль
						.compare-block-content-el-text из Санкт-Петербурга
						a(href="#").compare-block-content-el-but от 17 614 руб
						.compare-block-content-el-addtext не нужна виза
						.compare-block-content-el-green лететь можно сейчас
				
				.compare-block-content-el
					.compare-block-content-el-img
						img(src="img/img-compare-2.png", alt="")
					.compare-block-content-el-title Кипр
					.compare-block-content-el-text из Санкт-Петербурга
					a(href="#").compare-block-content-el-but от 63 000 руб
				
				.compare-block-content-el
					.compare-block-content-el-img
						img(src="img/img-compare-3.png", alt="")
					.compare-block-content-el-title марокко
					.compare-block-content-el-text из Санкт-Петербурга
					a(href="#").compare-block-content-el-but от 29 650 руб
				
				.compare-block-content-el
					.compare-block-content-el-img
						img(src="img/img-compare-4.png", alt="")
					.compare-block-content-el-title оаэ
					.compare-block-content-el-text из Санкт-Петербурга
					a(href="#").compare-block-content-el-but от 26 798 руб

	section.treangle-head
			.treangle-head-title 22 места для посещения
			.treangle-head-text Путешествия в Израиль 
	
	//- for (var j = 0; j <4 ; j++)
	- each curorts,el in curort
		section.travel
			.travel-wraper
				.travel-main-cont
					.travel-head
						.travel-head-img
							img(src="img/tavel-#{el+1}.png", alt="")
						.travel-head-info
							.travel-head-title #{curorts.title}
							.travel-head-wraper
								.travel-head-wraper-cont
									.travel-head-el
										.travel-head-el-icon
											img(src="img/travel-icon-1.png", alt="")
										.travel-head-el-text #{curorts.StepOne}
									.travel-head-el
										.travel-head-el-icon
											img(src="img/travel-icon-2.png", alt="")
										.travel-head-el-text #{curorts.StepTwo} 
									.travel-head-el
										.travel-head-el-icon
											img(src="img/travel-icon-3.png", alt="")
										.travel-head-el-text #{curorts.StepThree}
								.travel-head-button Подробно об экскурсии
			.travel-main-el-wraper
				.travel-main-el-footer
					.travel-cont-wraper

						.travel-cont-el
							.travel-cont-el-about Авиабилеты в Израиль 
							.travel-cont-el-img
								.travel-cont-el-title 
									span из Санкт-Петербурга в Тель-Авив
								img(src="img/travel-el-1-1.jpg ", alt="")
							.travel-cont-el-but.travel-cont-el-but-active 
								.travel-cont-el-but-text от 17 514 руб
								.travel-cont-el-but-text искать на aviasales

						.travel-cont-el
							.travel-cont-el-about Экскурсия в Израиль
							.travel-cont-el-img
								.travel-cont-el-title 
									span
										b #{curorts.cardTwoTitle}
										text #{curorts.cardTwo}
								img(src="img/travel-el-#{el+1}-2.jpg ", alt="")
							.travel-cont-el-but 
								.travel-cont-el-but-text #{curorts.butTwo}

						.travel-cont-el
							.travel-cont-el-img
								.travel-cont-el-title 
									span 
										b #{curorts.cardThreeTitle}
										text #{curorts.cardThree}
								img(src="img/travel-el-#{el+1}-3.jpg ", alt="")
							.travel-cont-el-but 
								.travel-cont-el-but-text #{curorts.butThree}

						.travel-cont-el
							.travel-cont-el-img
								.travel-cont-el-title 
									span 
										b #{curorts.cardForeTitle}
										text #{curorts.cardFore}
								img(src="img/travel-el-#{el+1}-4.jpg ", alt="")
							.travel-cont-el-but 
								.travel-cont-el-but-text #{curorts.butFore}

	section.footer
		.footer-title Расскажите друзьям про Израиль
		.footer-soc
			a(href="#")
				i.fa.fa-vk
			a(href="#")
				i.fa.fa-facebook
			a(href="#")
				i.fa.fa-twitter
	.modal-wraper
		i.fa.fa-times
		.modal-main-cont
			.modal-text
				.modal-title Описание экскурсии
				.modal-content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, qui ratione. Deserunt natus quod ut eum cum voluptates, amet provident tenetur, totam, ratione obcaecati soluta. Animi voluptatibus soluta laudantium sequi odit commodi blanditiis aliquid eaque, veniam nemo quis voluptates, voluptatem minima, amet tempore dolor dolores beatae, reprehenderit. Iusto deleniti quibusdam, dolorem voluptate, autem sapiente ipsa, tempore ab omnis assumenda <br>	Animi voluptatibus soluta laudantium sequi odit commodi blanditiis aliquid eaque, veniam nemo quis voluptates, voluptatem minima, amet tempore dolor dolores beatae, reprehenderit. Iusto 
				.get-eks-info Получить экскурсию
			.modal-form
				.modal-form-title Заказ экскурсиb
				.modal-form-text Заполните форму и наш менеджер свяжется с Вами для обсуждения подробностей
				form(action="")
					.form-wrap
						.form-left
							label Фамилия
							input(type="text" placeholder="Ваша фамилия")
							label Имя 
							input(type="text" placeholder="Ваше имя")
							label Телефон 
							input(type="text" placeholder="Ваш телефон")
							label E-mail 
							input(type="text" placeholder="Ваш email")
						.form-right
							label Выберите желаемую дату поездки 
							input.date(type="text")
					label.textarea-label Дополнительная информация(название гостиницы или место посадки)
					textarea(name="", rows="3" ) 
					button Оставить заявку

	.modal-small-wraper
		i.fa.fa-times
		.modal-main-cont
			.modal-form
				.modal-form-title Заказ экскурсиb
				.modal-form-text Заполните форму и наш менеджер свяжется с Вами для обсуждения подробностей
				form(action="")
					.form-wrap
							label Фамилия
							input(type="text" placeholder="Ваша фамилия")
							label Имя 
							input(type="text" placeholder="Ваше имя")
							label Телефон 
							input(type="text" placeholder="Ваш телефон")
							label E-mail 
							input(type="text" placeholder="Ваш email")
							label Выберите желаемую дату поездки 
							input.date(type="text" placeholder="Дата поездки")
					label.textarea-label Дополнительная информация(название гостиницы или место посадки)
					textarea(name="", rows="3" ) 
					button Оставить заявку

//Include footer
include ./block_html/script.jade


